
* {box-sizing: border-box; 
font-family: 'Comfortaa', cursive;
padding: 5px;
letter-spacing: 1px;



}



input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid rgb(109, 243, 165);
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: tomato;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color:darkslategrey;
}

.Contact {
border-radius: 5px;
background-color: rgb(123, 247, 171);
padding: 20px;
width: 600px;
margin: auto;
text-align: center;

}
.follow{
    border: 1px solid blue;
width: 100%;
margin: auto;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:0;
align-content: flex-start;
}
.icon{
    color: grey;  
    align-self: center;
    padding: 5px;
    margin:10px;
    border:1px solid red;
}
.icon:hover{
    color: lightgrey;
}
.container{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr ;
}
header{
    background-color: rgba(95, 0, 19, 0.808);
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: start;
    line-height: 2px;
    color: whitesmoke;

}

nav{

    border: 1px solid red;
    background-color: rgb(123, 247, 171);
}

.info{

    border: 1px solid red;
    justify-self: left;
    line-height: 2;
    width: 100%;
}

.About{

    border: 1px solid red;
    text-align: center;
    background-color: rgb(95, 0, 19, 0.808);
    color: wheat;

}

.Experience{
    line-height: 2.0;
    border: 1px solid red;
    text-align: center;
    background-color: rgb(123, 247, 171);
    color: #5c0909;

}

.Skills{

    border: 1px solid red;
    text-align: center;
    background-color: rgb(123, 247, 171);
    color: #5c0909;
    width:900px;
    margin: 0 auto;
    margin-top:-20px;

}

.Education{
    border: 1px solid red;
    text-align: center;
    background-color: rgb(95, 0, 19, 0.808);
    color: wheat;


}
nav ul{

    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style-type: none;
    grid-template-areas: 
    "AboutMe Experience Education Skills Contactme";

}

#AboutMe {
    grid-area: AboutMe; 


}

li{
    text-align: center;
    list-style-type: none;
}

#Experience {
    grid-area: Experience;

    
}

#Education {

    grid-area: Education;
}

#Skills {

    grid-area: Skills;
}


#Contactme {

    grid-area: Contactme;
}

a{
    text-decoration: none;
    color: #5c0909;
    font-weight: bolder;
    background-color:

}


#moi{
    background-image: url("images/FB_IMG_1584509980513.jpg");
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: 115%;
    background-position: 53% 2%;
}

@media only screen and (max-width: 600px) {

    p{
        font-size: 10px;
    }

    h1{
        font-size: 15px;
        text-align: center;
    }


    nav ul {
        height: 230px;
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        grid-template-areas: 
        "AboutMe"
        "Experience"
        "Education" 
        "Skills" 
        "Contactme";
    }

    header{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: start;
    line-height: 2px;
    }

    #moi{
        background-image: url("images/FB_IMG_1584509980513.jpg");
        width: 100%;
        height: 600px;
        border-radius: 0%;
        background-size: 100%;
        background-position: 1% 2%;
        background-repeat: no-repeat;
    }

    h3{
        text-align: center;
        font-size: 12px;
    }

    header p{

        text-align: center;
    }

    .About p {
        text-align: center;
        font-size: 10px;
    }
    h2{
        text-align: center;
        font-size: 13px;

    }
    .follow{
        width: 100px;
        margin: auto;
        display: grid;
        align-content: center;

        }

    .Experience li {

        font-size: 12px;

    }    

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
  }




